<h1>Rock, Paper Scissors</h1>


<p class="description">Rock-paper-scissors or Scissor-Paper-Rock, is a zero-sum hand game usually played between two people. In a zero sum game, if I win you lose - unless there is a draw. In other words if we add the total gains and subtract the total losses, we will always get zero.</p> 

<p class="description">So, rock paper scissors is a game in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a simple fist), "paper" (a flat hand), and "scissors" (a fist with the index and middle fingers together forming a V). </p>

<p class="description">The game has only three possible outcomes other than a tie: a player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors") but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cut paper"). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie. Other names for the game in the English-speaking world include roshambo and other orderings of the three items, sometimes with "rock" being called "stone".</p>

<p class="description">The game is often used as a choosing method in a way similar to coin flipping, drawing straws, or throwing dice. Unlike truly random selection methods, however, rock–paper–scissors can be played with a degree of skill by recognizing and exploiting non-random behavior in opponents.</p>