<div class = "hero">

  <div class = "hero-text-wrapper">


    <div class="results-wrapper">

    <div class="result-header white center">Lets play Rock, Paper, Scissors.</div>

      <div class="result white center"><%= @result[0] %></div>

      <div class="result white center"><%= @result[1] %></div>

    </div>

  </div> <!-- wrapper -->
</div> <!-- hero -->

