<!-- layout is a keyword so it will look for this and turn it first
-->
<!doctype html>
<html lang='en'>
<head>
  <meta charset = 'utf-8'>
  <title>Rock - Paper - Scissors</title>
  <link rel='stylesheet' href='/style.css'</>

</head>
<body>


  <nav>
    <ul>
    <li><a href="/play/scissors">Play Again</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <%= yield %> 

</body>
</html>



